# Common Spring Boot service variable
EUREKA_CLIENT_ENABLED=false

# Gateway service variables
AUTH_SERVICE_URI=https://<auth-service-domain>
USER_SERVICE_URI=https://<user-service-domain>
PRODUCT_SERVICE_URI=https://<product-service-domain>
ORDER_SERVICE_URI=https://<order-service-domain>
PLACE_SERVICE_URI=https://<place-service-domain>
MUSIC_SERVICE_URI=https://<music-service-domain>

# Frontend build variable
REACT_APP_API_URL=https://<gateway-service-domain>

# Kafka demo mode
SPRING_KAFKA_LISTENER_AUTO_STARTUP=false

# External Kafka, if available
SPRING_KAFKA_BOOTSTRAP_SERVERS=<external-kafka-bootstrap-server>
